@import "../../style/index.less";
.tov-button{
  background:none;
  cursor: pointer;
  border: .0625rem solid var(--tov-color-border);
  outline: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  height: 32px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;

  &-size{
    &--small{
      height: 24px;
      padding: 2px 4px;
      font-size: 12px;
    }

    &--large{
      height: 40px;
      padding: 6 12px;
      font-size: 20px;
    }

 
  }
  
  
  &--default{
    border-color: var(--tov-color-border);
    color:var(--tov-color-text);

    &:hover{
        border-color: var(--tov-color-primary-hover);
        color:var(--tov-color-primary-hover);
    }

    &:active{
        border-color: var(--tov-color-primary-active);
        color:var(--tov-color-primary-active);
    }
  }

  &--dashed{
    border-style: dashed;
    border-color: var(--tov-color-border);
    color:var(--tov-color-text);

    &:hover{
        border-color: var(--tov-color-primary-hover);
        color:var(--tov-color-primary-hover);
    }

    &:active{
        border-color: var(--tov-color-primary-active);
        color:var(--tov-color-primary-active);
    }
  }

  &--primary{
    border-color: var(--tov-color-primary);
    color:white;
    background-color: var(--tov-color-primary-hover);

    &:hover{
        border-color: var(--tov-color-primary-hover);
    }

    &:active{
        border-color: var(--tov-color-primary-active);
    }
  }

  &:disabled{
    cursor: not-allowed;
    border-color: #d9d9d9;
    color: #bfbfbf;
    background-color: #f0f0f0;
  }

}